.error404{
  .content-area{
    padding-top:3.75rem;
  }
  .page-content{
    background:url('../../images/nature-background.png');
    height:75vh;
    width:100vw;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }
  .page-title{
    flex-basis:100%;
    text-align:center;
  }

  .home-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15%;
    text-decoration: none;
    background:url('../../images/white-button.png');
    height: 6rem;
    width: 10.5rem;
    font-size:2rem;
    color:$teal;
    text-transform: uppercase;
  }
  .eagle-one{
    position: absolute;
    left: 2%;
    top: 10%;

  }
  .eagle-two{
    position: absolute;
    bottom: 2%;
    right: 1%;
  }
  @media screen  and (min-width:$desktop-width) {
    .eagle-one{
      top:20%;
    }
  }
}