/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	// margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.post-template-default{

	.entry-header{
		padding-top:7rem;
	}
	.entry-content{
		height:100vh;
		margin-left:2.5%;
		margin-right:2.5%;
	}
	.entry-title{
		color: #fff;
    background: #000;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0.5rem;
	}
}