/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	// margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


/* MOBILE MENU	*/

.line1, .line2, .line3 {
	margin-top:5px;
	background-color:white;
	width:25px;
	height:3px;
	display:block;
	position:relative;
	opacity:1.0;
	border-radius:15%;
	transition: all .3s;
}	
.menu-toggle{
	display:none;
}
.toggle-open{
	box-shadow: none;
	border: none;
	background:none;
	position:absolute;
	align-self:center;
	height:3.5rem;
	z-index:9999;
	
}

.mobile-menu{
	z-index:2; 
	font-size:1rem;
	width:85%; 
	height:auto;
	background:$teal;
	position:absolute; 
	text-align:left;
}

.mobile-menu ul {
	text-transform:uppercase;
	margin: 0;
	padding: 0; 

	li:nth-child(odd){
		background-color:$secondary-teal;
	}
}

.mobile-menu li {
	display: block; 
	padding:1rem 0 1rem 0; 
	padding-left:1rem;
}

.mobile-menu ul a li { 
	text-decoration:none; 
	margin: 0px; 
	color:white;
	padding-left:1rem;
}

.mobile-menu a{
	text-decoration:none;
	color:white;
}

header{
	display:inline-block; 
	font-size:12px;
}
.main-navigation{
	display:flex;
	justify-content: space-between;
		.social-icons{
		display:flex;
		align-self:center;
		margin-top: 2rem;
		color:white;
		.fa{
			font-size:1.5rem;
			padding-right:1rem;
		}
	}
}	

	//animate shit//
.line1.toggle-open {
	transform: rotate(270deg);
	opacity:0.0;
	background-color:black;
	top:5px;
}
		
.line2.active {
	transform: rotate(45deg);
	background-color:black;
}
		
.line3.active {
	transform: rotate(-45deg);
	background-color:black;
	top:-7px;
}


// footer //
.site-info{
	background:$black;
}
.footer-nav-wrapper{
	height: auto;
	padding-top: 2rem;
	font-size: 1.25rem;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-left: 0;
	a{
		color:white;
	}
}
.footer-nav{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: baseline;
	margin: 0;
	max-height: 6rem;
	list-style: none;
}
.footer-container{
	display:flex;
	justify-content: space-between;
	height:15rem;
	padding-top:2rem;
}
.footer-logo-container{
	background:url("../../images/footer-icon.png");
	border-radius: 50%;
	width: 65px;
	height: 50px;
	background-color: white;
	background-size: 50px;
	background-position: center;
	background-repeat: no-repeat;
	margin-left:14%;
	align-self:center;
}
.footer-contact-info{
	display:flex;
	flex-direction: column;
	justify-content: center;
	color:white;
	border-left: 1px solid white;
	padding-left: 1rem;
	padding-right:1rem;
	p:nth-child(1){
		margin:0;
		font-weight:bold;
	}
	p:nth-child(2){
		margin:0;
		font-weight:lighter;
	}
}

.weekday-hours,.weekend-hours{
	display:flex;
	p:nth-child(2){
		padding-left:1rem;
		font-size:0.75rem;
		align-self:center;
	}
}
.sub-menu{
	display:none;
}
@media screen  and (min-width:1024px) {
	.site-info{
		position: relative;
	}
 .footer-nav{
	flex-direction: row;
	justify-content: space-around;
	position: absolute;
	width: 70%;
	position: absolute;
	bottom: 35%;
	margin-left: 10%;
 }
 .footer-logo-container{
	height: 75%;
	width: 15%;
	margin-left: 1%;
	background-size: 120px;
 }
 .footer-contact-info{
	 font-size:0.75rem;
 }
 .sub-menu{
	 font-size:0.75rem;
	 font-weight: lighter;
	 display: block;
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 li{
		 padding-top:0.5rem;
		 a{
			 text-decoration: none;
		 }
	 }
 }
}	

// mobile header//
.site-header{
	width: 100%;
	background: black;
	height: 5.75rem;
	position: relative;
}
.header-teal{
	background:$teal;
}

.header-logo{
	height: 40px;
	width:135px;
	position: absolute;
	top: 25%;
	@include center();
	left: 25%;
	right: 25%;
}

.desktop-site-header{
	display:none;
}
.menu-menu-1-container{
	visibility: hidden;
}
// desktop header //
@media screen  and (min-width:1024px){
	.site-header{
		display:none;
	}
	.desktop-site-header{
		display: block;
		width: 100%;
		background: black;
		height: 5.75rem;
		position: relative;
	}
	.desktop-header-logo{
		position: absolute;
		height: 5rem;
		padding-top:1rem;
	}
	.menu{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
    width: 56vw;
		margin: 0;
		li{
			a{
				color:white;
				text-transform: uppercase;
			}
		}
	}
	.menu-menu-1-container{
		visibility: visible;
		max-width: 60%;
    flex-basis: 90%;
    display: flex;
    font-size: 1.25rem;
    margin-left: auto;
	}
}	


// contact page //
.page-template-contact{
	.wpcf7-form{
		background:url('../../images/contact-form-background.png');
		background-size:cover;
		background-repeat: no-repeat;
		padding-top:1rem;
		padding-bottom:3rem;
		width: 100vw;
		p{
			padding-left:1rem;
			padding-right:1rem;
			color:white;
		}
		p:nth-child(2){
			font-size:1.5rem;
		}
		p:nth-child(7){
			text-align:right;
		}
	}
	
	.widget-area{
		display:none;
	}

	.entry-title{
		position: absolute;
		top:-1%;
		left:5%;
		text-transform: uppercase;
	}
	.contact-page-contact-info{
		display: flex;
		flex-direction: column;
		padding-top:3rem;
		width: 90%;
    @include center();
		>p:nth-child(1){
			margin:0;
			font-size:1.25rem;
		}
		p:nth-child(2){
			margin:0;
		}
		p:nth-child(3){
			margin:0;
		}
	}

	.contact-weekday-hours{
		display:flex;
		padding-top:2rem;
		p:nth-child(1){
			font-size:1rem;
			font-weight:bold;
		}
		p:nth-child(2){
			font-size:1rem;
			padding-left:1rem;
		}
	}

	.contact-weekend-hours{
		display:flex;
		p:nth-child(1){
			font-size:1rem;
			font-weight:bold;
		}
		p:nth-child(2){
			font-size:1rem;
			padding-left:1rem;
		}
	}
	.contact-additional-info{
		order: 1;
    margin-top: 2rem;
	}
	.entry-content{
		position: relative;
		p{
			margin:0;
		}
	}
	.mapp-layout{
		margin-bottom:10rem;
	}

	.social-info{
		display: flex;
    flex-direction: column;
		position: absolute;
		width:95%;
    top: 52%;
    left: 2.5%;
		.fa{
			font-size:2rem;
			color:black;
			padding-right:1rem;
		}
		p:nth-child(1){
			font-size:1.5rem;
			font-weight:bold;
		}
		a:nth-child(2){
			margin-top:1rem;
		}
	}
	.eagle-logo{
		position: absolute;
    right: 5%;
		top: 30%;
		img{
			height:80px;
		}
	}
}	


//contact desktop//
@media screen  and (min-width:1024px) {
	.page-template-contact{
		.entry-content{
			display:flex;
			flex-wrap:wrap;
		}
		.wpcf7{
			width:100%;
			margin-top:10rem;
		}
		.wpcf7-form{
			display:flex;
			flex-wrap:wrap;
			p:nth-child(2){
				position: absolute;;
			}
			p:nth-child(3){
				margin-top: 3rem;
				width: 35%;
			}
			p:nth-child(4){
				margin-top: 3rem;
				width: 45%;
			}
			p:nth-child(5){
				margin-top: 3rem;
				width: 20%;
			}
			p:nth-child(6){
				margin-top: 3rem;
				width: 80%;
			}
			p:nth-child(7){
				position: absolute;
				right: 5%;
				bottom: 5%;
			}
		}
		.mapp-layout{
			width: 39% !important;
			position: absolute;
			left: 36%;
			top: -48%;
		}
		.social-info{
			height:50%;
			width:auto;
			top: 5%;
			right: 5%;
			left:77%;
		}
		.contact-additional-info{
			width: 30%;
			order:0;
			margin-top: 2rem;
		}
		.address-province{
			margin-top:2rem;
		}
	}
}

//weekly events//
.term-weekly{
	.site-main{
		margin-left: auto;
    margin-right: auto;
    width: 95%;
	}
	.type-event{
		display: flex;
    justify-content: center;
    align-items: center;
		width: 100%;
		height: 220px;
		margin: 1rem 0 1rem 0;
		background-size:cover;
	}
	.entry-title-wrapper{
		position: relative;
		height:100px;
		flex-basis: 90%;

	}
	.entry-title{
		display: flex;
    justify-content: center;
    align-items: center;
		color:white;
	}
	.entry-content{
		display:flex;
		justify-content: center;
		flex-direction: column;
		margin-left: auto;
    margin-right: auto;
    width: 90%;
		color:white;
		display: none;
		position: absolute;
    top: -60%;
	}

.site-main{
	.type-event:nth-child(3n+1){
		.entry-title-wrapper{
			.entry-title{
			background-color: rgba(29, 175, 184, 0.75);
			}
		}
	}
	.type-event:nth-child(3n+2){
		.entry-title-wrapper{
			.entry-title{
				background-color: rgba(217, 31, 24, 0.75);
			}
		}
	}
	.type-event:nth-child(3n+3){
		.entry-title-wrapper{
			.entry-title{
				background-color: rgba(255, 203, 51, 0.75);
			}
		}
	}
}	

	@media screen  and (min-width:1024px){
		.site-main{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.type-event{
			flex-basis:49%;
			height:50vw;
		}
		.entry-content{
			font-size:1.5rem;
			top:-100%;
		}
	}
}