// FOOTER //
.site-info{
	background:$black;
}
.footer-nav-wrapper{
	font-size: 1.25rem;
	// margin-left: 11vw;
	flex-basis:100%;
	a{
		color:white;
	}
}
.footer-nav{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: baseline;
	margin: 0;
	max-height: 6rem;
	list-style: none;
	padding-left:17vw;
	li:nth-last-child(-n+3){
		margin-left:5rem;
	}
}
.footer-container{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	height:20rem;
	padding-top:2rem;
}
.footer-logo-container{
	background:url("../../images/footer-icon.png");
	border-radius: 50%;
	width: 20vw;
	height: 20vw;
	background-color: #fff;
	background-size: 15vw;
	background-position: 50%;
	background-repeat: no-repeat;
	margin-left: 10%;
	align-self: center;
	order:2;
}
.footer-contact-info{
	display:flex;
	flex-direction: column;
	justify-content: center;
	flex-basis:59%;
	color:white;
	border-left: 1px solid white;
	order:3;
	padding-left: 1rem;
	padding-right:1rem;
	p:nth-child(1){
		margin:0;
		font-weight:bold;
	}
	p:nth-child(2){
		margin:0;
		font-weight:lighter;
	}
}

.weekday-hours,.weekend-hours{
	display:flex;
	p:nth-child(1){
		font-size:0.75rem;
	}
	p:nth-child(2){
		padding-left:1rem;
		font-size:0.75rem;
		align-self:center;
	}
}
.footer-contact-info >p:nth-child(2){
	font-size:0.75rem;
	margin-top:1rem;
}
.footer-contact-info >p:nth-child(3){
 font-size:0.75rem;
 margin-bottom:1rem;
 margin-top:0;
}
.sub-menu{
	display:none;
}
// FOOTER DESKTOP //
@media screen  and (min-width:$desktop-width) {
	.footer-container{
		height:15rem;
	}
	.site-info{
		position: relative;
	}
	.footer-nav-wrapper{
		font-size:1rem;
		margin-left:0;
	}
 .footer-nav{
	flex-direction: row;
	justify-content: space-around;
	position: absolute;
	width: 65vw;
	bottom: 24%;
	left: 9%;
	padding-left:1rem;
	li:nth-last-child(-n+3){
		margin-left:0;
	}
 }
 .footer-logo-container{
	height: 11vw;
	width: 12vw;
	margin-left: 1%;
	background-size: 9vw;
 }
 .footer-contact-info{
	 font-size:0.75rem;
	 flex-basis:23%;
	 >p:nth-child(1){
		 font-size:1rem;
	 }
 }
 .sub-menu{
	 font-size:0.75rem;
	 font-weight: lighter;
	 display: block;
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 li{
		 padding-top:0.5rem;
		 a{
			 text-decoration: none;
		 }
	 }
 }
}	

