.term-seasonal {
  article {
    background-size: auto 350px;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 350px;
    @include desktop {
      color: $white;
      height: 900px;
      background-size: cover;
    }
    .content {
      overflow-wrap: break-word;
    }
  }
  .entry-wrapper {
    padding-left: 2.5%;
    padding-right: 2.5%;
    @include desktop {
      position: absolute;
      top: 100px;
      display: inline-block;
      background: $trans-black;
      width: 60%;
      padding-right: 5%;
      // p {
      //   font-size: 18px;
      // }
    }
  }
}

//also used on weekly events
.sub-nav {
  display: none;
  @include desktop {
    display: block;
  }
  position: fixed;
  width:100%;
  z-index: 1001;
  color: $white;
  background-color: $trans-black;
  list-style: none;
  padding-left: 2.5%;
  li {
    &::after {
      content: '|';
      margin: 0 1.25rem;
      font-weight: 400;
    }
    &:last-of-type::after {
      content: '';
    }
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: white;
      &:visited {
        color: white;
      }
    }
  }
  .current-event-page {
    font-weight: 900;
  }
}

// SEASONAL WIDGET AREA //
.tax-event_type {
  .title {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .alt-title {
    margin-left: 5px;
  }
  .date{
    font-size: 25px;
  }
  .entry-content{
    margin-top: 0;
  }
  .entry-content {
    .time,
    .date,
    .location
    {
    width: 100%;
    display: block;
    }
    .time {
      font-weight: bold;
    }
  }
  .widget-area {
    @include desktop {
      display: none;
    }
    .csl-social-media-class {
      display: flex;
      flex-wrap: wrap;
      margin: 0 1rem;
      z-index: 1;
      h2 {
        width: 100%;
        font-size: 0.95rem;
        margin-bottom: 0;
      }
      
      a {
        color: $black;
        text-decoration: none;
        font-size: 1rem;
      }
      a:hover {
        color: $teal;
      }
      .fa {
        font-size: 1.5rem;
        padding-right: 1rem;
      }
      a:nth-child(3) {
        padding-top: 0.5rem;
      }
    }
    .social-media-container {
      display: flex;
      align-items: baseline;
      margin-right: 1rem;
    }
  }
}