.term-seasonal {
  article {
    background-size: auto 350px;
    background-position: center top;  
    background-repeat: no-repeat;
    padding-top: 350px;
    @include desktop {
      color: $white;
      height: 900px;
      background-size: cover;
    }
    
  }
  .entry-wrapper {
    padding-left: 2.5%;
    padding-right: 2.5%;
    @include desktop {
      position: absolute;
      top: 100px;
      display: inline-block;
      background: $trans-black;
      width: 60%;
      padding-right: 5%;
    }
  }
}
//also used on weekly events
.sub-nav {
  display: none;
  @include desktop {
    display: block;
  }
  position: fixed;
  width:100%;
  z-index: 1001;
  color: $white;
  background-color: $trans-black;
  list-style: none;
  padding-left: 2.5%;
  li {
    &:first-of-type::after {
      content: '|';
      padding: 1.25rem;
      font-weight: 400;
    }
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
      text-decoration: none;
      color: white;
      &:visited {
        color: white;
      }
      &:hover {
        font-weight: 900;
      }
    }
  }
  .current-event-page {
    font-weight: 900;
  }

}