.single-event {
  .site-main {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    @include desktop {
      height: 950px;
      
    }
    
  }
  .title {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .alt-title {
    display: block;
    font-weight: 400;
    &:before {
      content: '[ ';
    }
    &:after {
      content: ' ]';
    }
  }
  .date{
    @include desktop {
    font-size: 25px;
    }
  }
  .entry-content{
    margin-top: 0;
  }
  .entry-content {
    .time,
    .date,
    .location
    {
    width: 100%;
    display: block;
    }
    .time {
      font-weight: bold;
    }
  }
  .back-button {

    a {
      display: none;
      @include desktop {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        font-size: 20px;
        padding-top: 2rem;
        &:before {
          font-family: FontAwesome;
          content: "\f053";
          margin-right: 0.5rem;
        }
      }
    }
  }
  article {
    order: 2;
    width: 100%;
    padding: 0 2%;
    margin-bottom: 2rem;
    @include desktop {
      padding: 4rem 2.5% 0;
      flex: 0 0 100%;
      width: 40%;
      order: 0;
      overflow-y: scroll;
      
    }
    @media screen and (min-width: 1200px) {
      width: 26%;
    }
    
  } 
  .owl-event-main {
    order: 1;
    width: 100%;
    @include desktop {
      order: 0;
      .owl-nav {
        display: none;
      }
      .owl-dots {
        display: none;
      }
      flex: 0 0 740px;
      width: 60%;
    }
    @media screen and (min-width: 1200px) {
      width: 74%;
    }

    .owl-stage *:not(img) {
      height: 350px;
      @include desktop {
        height: 740px;
      }
    }
    .owl-item {
      &:hover {
        cursor: grab;
      }
      &:active {
        cursor: grabbing;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    img {
      height: 350px;
      width: auto;
      max-width: none;
      position: absolute;
    }
    @include desktop {
      img {
        max-width: 100%;
        width: auto;
        max-height: 100%;
        height: auto;
      }
    }
    
    
  }
  
  }
  .thumbnail-wrapper {
    order: 3;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    img {
      flex: 0 0 47%;
      width: 47%;
      height: 47vw;
      margin-bottom: 2vw;
    }
  }
  .owl-event-thumbs {
    width: 100%;
    .owl-nav {
      display: none;
    }
    .owl-dots {
      display: none;
    }
    @include desktop {
      .owl-nav {
        display: initial;
        .owl-prev {
          top: 23%;
        }
        .owl-next {
          top: 23%;
        }
      }
      .owl-dots {
        display: initial;
      }
      
      order: 0;
      width: 60%;
      flex: 0 0 210px;
      height: 210px;
      .owl-stage {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .owl-item {
        &:hover {
          cursor: pointer;
        }
        flex: 0 0 9vw;
        width: 9vw;
        height: 9vw;
        margin: 0 0.5vw;
      }
      img {
        width: 9vw;
        height: 9vw;
      }
      @media screen and (min-width: 1200px) {
        width: 74%;
        .owl-item {
          flex: 0 0 11vw;
          width: 11vw;
          height: 11vw;
          margin: 0 .666vw;
        }
        img {
          width: 11vw;
          height: 11vw;
          
        }
      }
  

    }
    
    


}