/*--------------------------------------------------------------
# Story
--------------------------------------------------------------*/

/* Story */
.single-story, .post-type-archive-story {

  .entry-header {
    width: 100%;
    height: 100%;
    padding: 5% 0 2.5%;

    @include desktop {
      .entry-title {
        color: $white;
        background-color: $black;
        width: 25%;
      }
    }

    h1 {
      margin: 0;
      padding: 0 2.5%;
    }
  }

  .alt-title {
    text-transform: none;
    font-weight: 500;
    color: $white;
  }

  .entry-content {
    padding: 0 2.5%;

    p {
      margin-top: 0;
    }
  }


/* One-House */
  .one-house-container {
    .entry-header {
      padding: 0;
    }

    .one-house-title-mobile {

      @include desktop {
        display: none;
      }
    }

    .one-house-wrapper-desktop {
      @include desktop {
        background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) );
        padding: 2.5%;
        width: 60%;
      }
    }

    .one-house-title-desktop {
      display: none;
      padding: 0;

      @include desktop {
        display: flex;
        color: $white;
      }
    }

      .entry-content-mobile {
        @include desktop {
          display: none;
        }
      }

      .entry-content-desktop {
        display: none;
        
            @include desktop {
              display: flex;
              color: $white;
            }
      }

    .one-house-hero[style] {
      height: 50vh;
      width: 100%;
      background-position: center !important;
      background-repeat: no-repeat;
      background-size: cover !important;

      @include desktop {
        height: 100vh;
        width: 100%;
        padding: 5% 0 2.5%;
      }
    }

    .meet-our-team-wrapper {
      text-align: center;
      background-color: yellow;
      background: url("../../images/EagleBackground.png") repeat top;
      background-size: contain;
      
      h2 {
        margin-top: 0;
        padding-top: 2.5%;
      }
    }
    .meet-our-team {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;

      @include desktop {
        flex-flow: row wrap;
        justify-content: space-around;
      }

      .team-member {
        flex: 0 1 35%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        max-height: 100%;
        width: 50%;
        text-align: center;

        .team-member__image {
          margin: 5% 0 2%;
        }

        .team-member__name {
          margin: 2% 0;
        }

        .team-member__title {
          margin: 2% 0;
        }

        p.team-member__description {
          display: none;

          @include desktop {
            display: inherit;
          }
        }
      }
    }
  }
  /* End of One-House */

/* Origin */
  .origin-container {
    @include desktop {
      background-color: $teal;
      background: url("../../images/nature-background.png") no-repeat bottom;
      background-size: cover;
    }
  }

  .origin-wrapper {
    display: flex;
    flex-flow: column nowrap;
    
    @include desktop {
      flex-flow: row nowrap;
      justify-content: space-between;
    }  

    .origin-featured-image {
      width: 100%;
      height: auto;

      img {
        min-width: 100%;
        min-height: 100%;
      }

      @include desktop {
        // width: 40vw;
        flex: 0 2 50%;
        margin: 0 0 $base__space-unit 2.5vw;
        
        img {
         min-height: 10%;
        }
      }
    }
    
    .entry-content {
      flex: 0 1 50%;
      margin: 0;
    }
  }
/* End of Origin */

/* Vision */
  .vision-container {

    @include desktop {
      padding: 2.5% 2.5% 0;

      h1 {
        padding: 0;
      }
    }
  }  

  .vision-wrapper {
    display: grid;
		grid-template-areas: "entry-header" "featured-image" "vision-content" "image-two";
		grid-gap: $base__space-unit/2;
		width: 100%;
    height: auto;
    
    @include desktop {
      display: grid;
      grid-template-areas: "entry-header featured-image" "vision-content featured-image" "vision-content image-two";
    }
    
    .entry-header {
      grid-area: entry-header;
      margin-left: 0;
    }

    .entry-content {
      grid-area: vision-content;
      margin-top: 0;

      p {
        margin-top: 0;
      }

      ul {
        padding-left: 5%;
      }

      @include desktop {
        padding: 0;
      }
    }

    .vision-featured-image {
      grid-area: featured-image;
      max-width: 100%;
      width: 100%;

      img {
        min-width: 100%;
        min-height: 100%;
      }

      @include desktop {
        margin-top: 5%;

        img {
          min-height: 10%;
        }
      }
    }

    .vision-image-two {
      grid-area: image-two;
      width: 100%;

      img {
        min-width: 100%;
        min-height: 100%;
      }

      @include desktop {
        img {
          min-height: 10%;
        }
      }
    }

  }
/* End of Vision */

/* Heritage */
  .heritage-container {
    @include desktop {
      background-color: $red;
      background: url("../../images/orca-background.png") no-repeat center;
      background-size: cover;
    }

    .heritage-wrapper {
    display: flex;
    flex-flow: column nowrap;
    
      @include desktop {
        flex-flow: row wrap;
        justify-content: space-between;
      }
    }

    .heritage-featured-image {
      width: 100%;
      height: auto;
      
      img {
        min-width: 100%;
        min-height: 100%;
      }

      @include desktop {
        // width: 40vw;
        order: 2;
        flex: 0 2 50%;
        padding: 2.5%;
        max-height: 50%;
      }
    }

    .heritage-image-two {
      display: none;

      @include desktop {
        order: 3;
        flex: 0 2 50%;
        display: inherit;
        padding: 2.5%;
      }
    }
    
    .entry-content {

      @include desktop {
        flex: 0 1 100%;
        margin: 0;
        column-count: 2;
        column-gap: $base__space-unit*2;
      }
    }
  }

/* End of Heritage */
}