/*--------------------------------------------------------------
# Story
--------------------------------------------------------------*/

/* Story */
.single-story, .post-type-archive-story {
  .entry-header {
    width: 100%;
    height: 100%;

    h1 {
      margin-top: 0;
      padding-left: 2.5%;
    }
  }

  .alt-title {
    text-transform: none;
    font-weight: 500;
  }

  .entry-content {
    padding: 0 2.5vw;
  }


/* One-House */
  .one-house-title-mobile {

    @include desktop {
      display: none;
    }
  }

  .one-house-title-desktop {
    display: none;

    @include desktop {
      display: flex;
    }
  }

    .entry-content-mobile {
      @include desktop {
        display: none;
      }
    }

    .entry-content-desktop {
      display: none;
      
          @include desktop {
            display: flex;
          }
    }

  .one-house-hero[style] {
    height: 50vh;
    width: 100%;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;

    @include desktop {
      height: 100vh;
      width: 100%;
    }
  }

  .meet-our-team-wrapper {
    text-align: center;
    background-color: yellow;
    background: url("../../images/EagleBackground.png") repeat top;
    background-size: contain;
    
    h2 {
      margin-top: 0;
      padding-top: 2.5%;
    }
  }
  .meet-our-team {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    @include desktop {
      flex-flow: row wrap;
      justify-content: space-around;
    }

    .team-member {
      flex: 0 1 35%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      max-height: 100%;
      width: 50vw;
      text-align: center;

      .team-member__image {
        margin: 5% 0 2%;
      }

      .team-member__name {
        margin: 2% 0;
      }

      .team-member__title {
        margin: 2% 0;
      }

      p.team-member__description {
        display: none;

        @include desktop {
          display: inherit;
        }
      }
    }
  }
  /* End of One-House */

/* Origin */
  .origin-container {
    @include desktop {
      background-color: $teal;
      background: url("../../images/nature-background.png") no-repeat bottom;
      background-size: cover;
    }
  }

  .origin-wrapper {
    display: flex;
    flex-flow: column nowrap;
    
    @include desktop {
      flex-flow: row nowrap;
      justify-content: space-between;
      background-color: $teal;
      background: url("../../images/nature-background.png") no-repeat bottom;
      background-size: cover;
    }  

    .origin-featured-image {
      width: 100%;
      height: auto;

      @include desktop {
        // width: 40vw;
        flex: 0 2 50%;
        margin: $base__space-unit 0 $base__space-unit 2.5vw;
      }
    }
    
    .entry-content {
      flex: 0 1 50%;
      margin: 0;
    }
  }
/* End of Origin */

/* Vision */
  .vision-container {
    h1 {
      padding: 0;
    }
    @include desktop {
      padding: 0 2.5%;
    }
  }  

  .vision-wrapper {
    display: grid;
		grid-template-areas: "entry-header" "featured-image" "vision-content" "image-two";
		grid-gap: $base__space-unit/2;
		width: 100%;
    height: auto;
    
    @include desktop {
      // margin: 0 2.5%;
      display: grid;
      grid-template-areas: "entry-header featured-image" "vision-content featured-image" "vision-content image-two";
    }
    
    .entry-header {
      grid-area: entry-header;
      margin-left: 0;
    }

    .entry-content {
      grid-area: vision-content;
      // padding: 0;
      margin-top: 0;

      p {
        margin-top: 0;
      }

      ul {
        padding-left: 5%;
      }

      @include desktop {
        padding: 0;
      }
    }

    .vision-featured-image {
      grid-area: featured-image;
      max-width: 100%;
      width: 100%;

      @include desktop {
        margin-top: 2.5%;
      }
    }

    .vision-image-two {
      grid-area: image-two;
      width: 100%;
    }

  }
/* End of Vision */

/* Heritage */


/* End of Heritage */
}